[submodule "c_sharp/2. Dados e Listas com .NET C#/Desafios/trilha-net-explorando-desafio"]
	path = "c_sharp/2. Dados e Listas com .NET C#/Desafios/trilha-net-explorando-desafio"
	url = git@github.com:AlexdeJesusFS/trilha-net-explorando-desafio.git
[submodule "c_sharp/1. Sintaxe Básica com .NET C#/Desafio/trilha-net-fundamentos-desafio"]
	path = "c_sharp/1. Sintaxe Básica com .NET C#/Desafio/trilha-net-fundamentos-desafio"
	url = git@github.com:AlexdeJesusFS/trilha-net-fundamentos-desafio.git
[submodule "c_sharp/3. Programação Orientada a Objetos com C#/Desafio/trilha-net-poo-desafio"]
	path = "c_sharp/3. Programação Orientada a Objetos com C#/Desafio/trilha-net-poo-desafio"
	url = git@github.com:AlexdeJesusFS/trilha-net-poo-desafio.git
[submodule "data_base/Desafio/trilha-net-banco-de-dados-desafio"]
	path = data_base/Desafio/trilha-net-banco-de-dados-desafio
	url = git@github.com:AlexdeJesusFS/trilha-net-banco-de-dados-desafio.git
[submodule "c_sharp/4. Construindo APIs com .NET C#/Desafios/trilha-net-api-desafio"]
	path = "c_sharp/4. Construindo APIs com .NET C#/Desafios/trilha-net-api-desafio"
	url = git@github.com:AlexdeJesusFS/trilha-net-api-desafio.git
[submodule "git_github/Desafio/dio-lab-open-source"]
	path = git_github/Desafio/dio-lab-open-source
	url = git@github.com:AlexdeJesusFS/dio-lab-open-source.git
