[submodule "c_sharp/2. Dados e Listas com .NET C#/Desafios/trilha-net-explorando-desafio"]
	path = "c_sharp/2. Dados e Listas com .NET C#/Desafios/trilha-net-explorando-desafio"
	url = git@github.com:AlexdeJesusFS/trilha-net-explorando-desafio.git
