.caixa {
    width: 200px;              
    height: 100px;             
    padding: 20px;    
    background-color: lightyellow;
    
    border: 5px solid red; 
    margin: 15px;              
    background-clip: padding-box;
}

body {
    background-color: lightgray;
}

.conteudo {
    background-color: lightblue;
    border: 1px dashed black; /* Borda do conteúdo */
    height: 100%;
}

.container {
    display: flex;            /* Habilita o Flexbox */
    justify-content: center;   /* Centraliza os itens horizontalmente */
    align-items: center;       /* Centraliza os itens verticalmente */
    height: 100vh;             /* Define altura da tela inteira */
    border: 2px solid black;
}

.item {
    background-color: orangered;
    padding: 20px;
    margin: 10px;
    border: 2px solid navy;
    flex-grow: 1;              /* Permite que os itens cresçam igualmente */
    text-align: center;
}

.item:hover {
    background-color: azure;
    cursor: help;
}