button {
    border: 1px solid #999999;
    border-radius: 22px;
    margin-right: 12px;
    background: #2D333B;
    color: #FFF;
    font-size: 18px;
    padding: 10px;
    width: 14%;
}
button:hover {
    background-color: #7a7a7a;
}
button:active {
    background-color: #3d3d3d;
}